<% missions.each do |mission| %>
<tr>
	<td><%= link_to mission.title, mission_path(mission) %></td>
	<td><%= mission.content %></td>
	<td>
		<%= link_to "Edit", edit_mission_path(mission), class: "btn btn-xs" %>
		<%= link_to "Delete", mission_path(mission), class: "btn btn-xs", method: 'delete', data: { confirm: "Are you sure?" }  %>
	</td>
</tr>
<% end %>