<div class="col-md-12">
  <div class="mission">
    <%= link_to "New course", new_mission_path , class:  "btn pull-right" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td> # </td>
        <td> Title </td>
        <td> Content </td>
      </tr>
    </thead>

    <tbody>
		<%= render 'missions_table', missions: @missions %>
   </tbody>
 </table>
</div>