<div class="col-md-12">
  <div class="mission">
     <%= link_to "Edit", edit_mission_path(@mission), class: "btn btn-xs  pull-right" %>
     <h2><%= @mission.title %></h2>
     <p><%= @mission.content %></p>
   </div>
</div>